.section-featured {
    display: flex;
    width: auto;
    text-align: center;
    margin: 82px 124px 127px;
    flex-direction: column;
    align-items: center;
}

.section-featured__caption {
    margin-bottom: 30px;
}

.section-featured__list {
    display: flex;
    width: 1052px;
}

.section-featured__img {
    padding: 0 35px;
}