@import url(blocks/base.css);
@import url(base/normalize.css);
@import url(blocks/header.css);
@import url(blocks/main.css);
@import url(blocks/main-block.css);
@import url(blocks/container.css);
@import url(blocks/section-advantages.css);
@import url(blocks/section-featured.css);
@import url(blocks/section-jobs.css);
@import url(blocks/section-plugins.css);
@import url(blocks/section-reviews.css);
@import url(blocks/section-sounds.css);
@import url(blocks/section-studio.css);
@import url(blocks/footer.css);
@import url(blocks/modal.css);
@import url(blocks/preloader.css);
@import url(blocks/back-to-top.css);
@import url(blocks/tours-modal.css);
@import url(blocks/gear-modal.css);

@font-face {
    font-family: 'Fontimerr Light';
    src: url('../fonts/ofont.ru_AV\ Fontimer.ttf') format('woff2');
}

@font-face {
    font-family: 'Fontimerr Regular';
    src: url('../fonts/ofont.ru_AV\ Fontimer\ \(2\).ttf') format('woff2');
}

@font-face {
    font-family: 'Fontimerr Bold';
    src: url('../fonts/ofont.ru_AV\ Fontimer\ \(1\).ttf') format('woff2');
}